/* src/components/Baño/Baño.css */
.baño {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 0.3s ease;
  
    &.limpio {
      background-color: #aaffaa; /* verde claro para baños limpios */
    }
  
    &.sucio {
      background-color: #ffaaaa; /* rojo claro para baños sucios */
    }

    .baño-status {
        text-align: center;
        margin-bottom: 8px;
    
        .status-limpio {
          color: #4caf50; /* verde para baños limpios */
        }
    
        .status-sucio {
          color: #f44336; /* rojo para baños sucios */
        }
      }
  
    .baño-header {
      text-align: center;
      margin-bottom: 12px;
  
      h1 {
        font-size: 18px;
        margin: 0;
        color: #333;
      }
    }
  
    .baño-body {
      label {
        display: block;
        margin-bottom: 8px;
  
        select,
        input {
          width: 100%;
          padding: 8px;
          box-sizing: border-box;
          border: 1px solid #ddd;
          border-radius: 4px;
          margin-top: 4px;
        }
      }
    }
  

    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */

  @media screen and (max-width: 480px) {
    max-width: 100%;
    margin: 0 16px;
  }
    .baño-footer {
        text-align: center;
        margin-top: 16px;
  
      button {
        background-color: #072935;
        color: #fff;
        padding: 10px 16px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #1b4148;
        }
        &:last-child {
            margin-left: 0;
            margin-top: 10px;
            width: 100%; /* Hace que el botón ocupe el ancho completo */
          }
        
      }
    }
  }
  